<div class="container mt-5 text-center text-center d-flex flex-lg-row flex-column justify-content-between">
  <section class="activity p-3">
    <h1>Activity</h1>
    <p>Stay active and enjoy better health and more fun!</p>
  </section>
  <section class="community p-3">
    <h1>Community</h1>
    <p>Get to know other people who share your passion!</p>
  </section>
  <section class="chalanges p-3">
    <h1>Challenges</h1>
    <p>Never stop dive into new challenges every day!</p>
  </section>
</div>
