.logo {
  color: #fff;
  text-decoration: none;
}

.main-navigation {
  &--list {
    padding-top: 0;
    list-style: none;
  }

  &--router-link {
    color: #fff;

    &.active {
      color: #b8b8b8;
    }
  }
}
