<header class="shadow">
  <mat-toolbar color="primary">
    <div class="toggle-sidenav d-block d-md-none">
      <button
        mat-icon-button
        aria-label="Menu"
        (click)="onToggleSidenav()"
      >
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <a routerLink="/" class="logo">IPfit</a>
    <nav class="main-navigation ms-auto d-none d-md-block">
      <ul class="main-navigation--list d-flex align-items-center m-0">
        <li *ngIf="!isAuth" class="main-navigation--item">
          <a mat-button class="main-navigation--router-link" routerLinkActive="active" routerLink="/signup">Signup</a>
        </li>
        <li *ngIf="!isAuth" class="main-navigation--item">
          <a mat-button class="main-navigation--router-link" routerLinkActive="active" routerLink="/login">Login</a>
        </li>
        <li *ngIf="isAuth" class="main-navigation--item">
          <a mat-button class="main-navigation--router-link" routerLinkActive="active" routerLink="/training">Training</a>
        </li>
        <li *ngIf="isAuth" class="main-navigation--item">
          <button (click)="logout()" mat-button class="main-navigation--router-link">Logout</button>
        </li>
      </ul>
    </nav>
  </mat-toolbar>
</header>
