<section>
  <div class="mx-auto mt-5 px-3 form-container">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Sign Up</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form #f="ngForm" [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
          <div class="row">
            <mat-form-field appearance="fill">
              <mat-label>Email</mat-label>
              <input
                formControlName="email"
                matInput
                placeholder="pat@example.com"
                required
              />
              <mat-error *ngIf="signUpForm.get('email')?.errors?.required">This field is required</mat-error>
              <mat-error *ngIf="signUpForm.get('email')?.errors?.email">Please enter a valid email adress</mat-error>
            </mat-form-field>
          </div>
          <div class="row mt-2">
            <mat-form-field appearance="fill">
              <mat-label>Your birthdate</mat-label>
              <input
                formControlName="birthDate"
                matInput
                [matDatepicker]="picker"
                [max]="maxDate"
                required
              >
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
              <mat-error *ngIf="signUpForm.get('birthDate')?.errors?.matDatepickerMax">You should be 18 y.o. for use this app</mat-error>
              <mat-error *ngIf="signUpForm.get('birthDate')?.errors?.required">This field is required</mat-error>
            </mat-form-field>
          </div>
          <div class="row mt-1">
            <mat-form-field appearance="fill">
              <mat-label>Password</mat-label>
              <input
                formControlName="password"
                matInput
                type="password"
                required
              />
              <mat-error *ngIf="signUpForm.get('password')?.errors?.required">This field is required</mat-error>
              <mat-error *ngIf="signUpForm.get('password')?.errors?.minlength">Should be  at least 6 characters long</mat-error>
            </mat-form-field>
          </div>
          <div class="row mt-1">
            <mat-form-field appearance="fill">
              <mat-label>Repeat password</mat-label>
              <input
                formControlName="confirmedPassword"
                matInput
                type="password"
                required
              />
              <mat-error *ngIf="signUpForm.get('confirmedPassword')?.errors?.required">This field is required</mat-error>
              <mat-error *ngIf="signUpForm.get('confirmedPassword')?.errors?.passNotMutch">Password is not match</mat-error>
            </mat-form-field>
          </div>
          <div class="row mt-2">
            <mat-checkbox
              required
              color="primary"
              formControlName="personalDataConsent"
            >I consent to the processing of my personal data</mat-checkbox>
            <mat-error
              *ngIf="(signUpForm.get('personalDataConsent')?.errors?.required &&
                     signUpForm.get('personalDataConsent')?.touched) ||
                     (signUpForm.get('personalDataConsent')?.errors?.required &&
                     f.submitted)"
            >This field is required</mat-error>
          </div>
          <div class="row mt-3">
            <button
              class="w-25 d-inline-block mx-auto mt-3"
              mat-raised-button
              type="submit"
              color="primary"
              [disabled]="signUpForm.invalid && signUpForm.touched"
            >Submit</button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</section>
